
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: hsl(180, 90%, 15%);
    margin: .9vw;
    padding: 0 .9vw 0 .9vw;
  }
  body {
    margin: .3vw;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
  }
  hr {
    height: .3vw;
    border-width: 0;
    margin: 0;
    background-color: #ffe582 !important;
  }
  img {
    max-width: calc(65px + 3.4vw);
    margin: 0 !important;
  }
  div {
    display: inline;
  }
  .navbar {
    grid-area: navbar;
  }
  .header {
		grid-area: header;
	}
  .sidebar {
		grid-area: sidebar;
	}
  .content {
		grid-area: content;
	}
	.sidebar2 {
		grid-area: sidebar2;
	}
	.footer {
		grid-area: footer;
	}
  .wrapper {
    background-color: #fff;
    color: #444;
    display: grid;
    grid-gap: .2vw;
    grid-template-areas:
     "navbar"
     "header"
     "sidebar"
     "content"
     "sidebar2"
     "footer";
  }
  .videoOnScreenMobile {
    display: block;
  }
  .videoOnScreenWide {
    display: none;
  }
  @media only screen and (min-width: 550px) and (max-width: 649px) {
    .videoOnScreenMobile {
      display: unset;
      display: none;
    }
    .videoOnScreenWide {
      display: block;
    }
  .wrapper {
    grid-template-areas:
    "navbar"
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer";
    }
  }
	@media only screen and (min-width: 650px) and (max-width: 899px) {
    .videoOnScreenMobile {
      display: unset;
      display: none;
    }
    .videoOnScreenWide {
      display: block;
    }
	.wrapper {
		grid-template-columns: 1fr 5fr;
		grid-template-areas:
    "navbar   navbar"
    "header   header"
		"sidebar  content"
		"sidebar  sidebar2"
		"footer   footer";
    }
	}
	@media only screen and (min-width: 800px)   {
    .videoOnScreenMobile {
      display: unset;
      display: none;
    }
    .videoOnScreenWide {
      display: block;
    }
		.wrapper {
			grid-template-columns: 1fr 5fr 1fr;
			grid-template-areas:
      "navbar  navbar  navbar"
      "header  header  header"
			"sidebar content sidebar2"
			"footer  footer  footer";
		}
	}
.box {
  background-color: #444;
  color: #fff;
  border-radius: .2vw;
  padding: .4vw;
}
.navbar {
  background-color: white;
  font-weight: bold;
  font-style: normal;
  font-size: calc(12px + 1.6vw);
  text-align: center;
}
.navbar a:hover:not(.active) {
  background-color: #ddd;
}
.navbar a.active {
  color: white;
  background-color: #6d6e70;
}
#logoLine {
  font-size: calc(14px + 1.8vw) !important;
  font-style: normal;
  display: inline;
  float: right;
  padding-right: 1.2vw;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
#logo {
  display: flex;
  float: right;
  font-size: calc(14px + .9vw);
  margin-top: .4vw;
}
.header {
  border-top: 5px solid hsl(180, 90%, 19%);
  /* font-size: 2.5vw !important; */
  font-size: calc(16px + 1vw);
  font-style: italic;
  background-color: #ccc;
  color: #444;
  height: calc(10px +3vw);
  padding: 0vw .6vw .4vw .4vw !important;
}
.sidebar {
  background-color: white;
  color: #fff;
  display: run-in;
  font-size: 1.8vw !important;
}
.content {
  background: grey;
  padding: 1.6vw;
  font-size: calc(9px + 1.2vw);
}
.sidebar2 {
  background-color: white;
  text-align: center;
  color: hsl(180, 90%, 19%);
  font-size: calc(7.5px + 1.4vw);
  padding: 4vh 1vh 1vh 1vh;
}
.footer {
  text-align: center;
  align-self: stretch;
  align-items: stretch;
  color: #444;
  background-color: HSL(48, 100%, 70%);
  font-size: calc(6px + 1.3vw);
  font-family: sans-serif;
}
.equityLogo {
  color: white;
  font-size: 2.2vw;
  font-weight: lighter;
  font-family: serif;
}
textarea {
  padding: 1vw 0vw 0vw 2.9vw;
  margin: 0;
  height: 3.6%;
  width: 80%;
  resize: none;
  font-size: 1.5vw;
}
button {
  border-color: black;
  height: calc(8px + 4vw) !important;
  width: 40%;
  font-size: 1.3vw;
}
#git {
  max-width: 2vw;
}
